@mixin grid-item($colums) {
  //flex-basis: calc((100% / #{$colum—Çs}) - #{$grid-item-margin});
  flex-basis: calc((100% - #{$grid-item-margin} * #{$colums}) / #{$colums});
  margin-left: $grid-item-margin;
  margin-top: $grid-item-margin;
}

@mixin transition-normal($element) {
  transition: $element $transition-time $transition-function;
}
