.border {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.header {
  display: flex;
  @media screen and (min-width: 149px) and (max-width: 767.9px) {
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  &.menu-is-open {
    overflow: hidden;
  }
}

.logo {
  font-family: $fontfamily-logo;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;

  @media screen and (min-width: 149px) and (max-width: 479.9px) {
    margin-right: 0px;
    font-size: 24px;
    line-height: 1.17;
  }

  @media screen and (min-width: 480px) and (max-width: 767.9px) {
    margin-right: 0px;
    font-size: 24px;
    line-height: 1.17;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    margin-right: 88px;
    font-size: 24px;
    line-height: 1.17;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo_part1 {
  color: $logo-color-first;
  align-items: center;
}

.logo_part2 {
  color: $logo-color-second;
}

.site-nav {
  display: inline-flex;
  align-items: center;

  @media screen and (min-width: 149px) and (max-width: 767.9px) {
    display: none;
  }
}

.site-nav__item {
  position: relative;
  display: inline-block;
  height: auto;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  color: $text-color-main;
  display: inline-flex;
  height: auto;
  align-items: center;
  @include transition-normal(color);

  &:hover,
  &:focus {
    color: $text-color-accent;
    @include transition-normal(color);
  }
}

.site-nav__link-active {
  color: $text-color-accent;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -30px;
    background-color: #2196f3;
  }
}

.address-header {
  margin-left: auto;
  @media screen and (min-width: 149px) and (max-width: 767.9px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.address-header__item {
  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    margin-right: 0;
    display: inline-block;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    &:not(:last-child) {
      margin-right: $grid-item-margin;
    }
  }
}

.address-header__icon--email {
  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    width: 14px;
    height: 10px;
  }
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.address-header__icon--phone {
  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    width: 10px;
    height: 14px;
  }
  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}

.address-header__icon {
  margin-right: 10px;
  align-items: center;
  fill: $icons-color-header;
  @include transition-normal(fill);

  &:hover,
  &:focus {
    fill: $icons-color-accent;
    @include transition-normal(fill);
  }

  .address-header__link:hover &,
  .address-header__link:focus & {
    fill: $icons-color-accent;
    @include transition-normal(fill);
  }
  @media screen and (max-width: 200px) {
    display: none;
  }
}

.address-header__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $text-color-secondary;
  @include transition-normal(color);

  &:hover,
  &:focus {
    color: $text-color-accent;
    @include transition-normal(color);
  }
}
