.portfolio-card__list {
  @extend %grid-ul;
  @media screen and (max-width: 767.99px) {
  }
  @media screen and (min-width: 60px) and (max-width: 767.99px) {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 0;
    margin-top: 0;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.portfolio-card__item {
  flex-basis: 100%;

  @media screen and (max-width: 767.99px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    @include grid-item(2);
  }
  @media screen and (min-width: 1200px) {
    @include grid-item(3);
  }
}

.portfolio-card__link {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: inherit;
  border: 1px solid rgba(238, 238, 238, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    @include transition-normal(box-shadow);
  }
}

.portfolio-card--shadow-box {
  height: inherit;
  @media screen and (min-width: 60px) and (max-width: 767.99px) {
    width: inherit;
    height: inherit;
  }
}

.portfolio-card__overlay--relative {
  position: relative;
  overflow: hidden;
  animation: cssAnimation 0s ease-in 3s forwards;
}

.portfolio-card__img {
  @media screen and (min-width: 60px) and (max-width: 767.99px) {
    width: 100%;
    height: auto;
  }
}

.portfolio-card__overlay__text {
  opacity: 0;
  bottom: 0;
  position: absolute;
  font-size: 18px;
  line-height: 1.56;
  width: 100%;
  height: 100%;
  flex-basis: 100%;
  padding: 63px 24px;
  color: $text-color-darkbg;
  background-color: rgba(33, 150, 243, 0.9);
  letter-spacing: 0.03em;
  transform: translateY(75%);
  @include transition-normal(opacity);
  @include transition-normal(transform);

  @media screen and (min-width: 50px) and (max-width: 350px) {
    padding: 15px 15px;
  }
  @media screen and (min-width: 350px) and (max-width: 767.99px) {
    padding: 110px 24px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.99px) {
    padding: 43px 24px;
  }

  .portfolio-card__link:hover &,
  .portfolio-card__link:focus {
    opacity: 1;
    transform: translateY(0);
  }
}

.portfolio-card__project {
  display: inline-block;
  width: 100%;
  padding: 20px 24px;
}

.portfolio-card__project__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-card__project__type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: $text-color-secondary;
  z-index: 5;
}
