$fontfamily-main: "Roboto", Arial, Helvetica, sans-serif;
$fontfamily-logo: "Raleway", Arial, Helvetica, sans-serif;

$text-color-main: #212121;
$text-color-secondary: #757575;
$text-color-accent: #2196f3;
$text-color-darkbg: #ffffff;

$section-bg-color-main: #ffffff;
$section-bg-color-secondary: #f5f4fa;
$section-bg-color-footer: #2f303a;

$logo-color-first: #2196f3;
$logo-color-second: #212121;
$logo-color-third: #ffffff;

$icons-color-background: #afb1b8;
$icons-color-accent: #2196f3;
$icons-color-darkbg: #ffffff;
$icons-color-lightbg: #212121;
$icons-color-header: #757575;
$icons-background-color: #f5f4fa;

$form-color-border: rgba(33, 33, 33, 0.2);
$hero-background-color: #c4c4c4;

$btn-background: #2196f3;
$btn-accent: #188ce8;

$cards-background: rgba(33, 150, 243, 0.9);

$transition-time: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);

$grid-item-margin: 30px;
$section-padding: 94px;

$modal-window-backdrop-color: rgba(0, 0, 0, 0.2);
$modal-window-background-color: #ffffff;
